.vscode
.venv
**.DS_STORE**

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
experiments/results

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# remove this first
java-maven-spring-boot
### VS Code ###
.vscode/